<dx-radio-group [items]="pri" [(value)]="selectedColumn" layout="horizontal">
</dx-radio-group><br>

<span>Search here</span>&nbsp; &nbsp;  &nbsp; &nbsp;
<div class="divs">
  <dx-text-box
    [(ngModel)]="searchText"
    width="15em"
    [showClearButton]="true"
    placeholder="Type...."
    (readOnlyChange)="applyFilter()"
  ></dx-text-box> &nbsp; &nbsp;
  <dx-button
    stylingMode="contained"
    text="Go"
    [width]="120"
    (click)="applyFilter()"
  >
  </dx-button>
  <dx-button
    stylingMode="contained"
    text="Reset"
    [width]="120"
    (click)="resetData()"
  >
  </dx-button>
</div>
<br>
<h3 id="centers">Employee Details</h3>
<dx-data-grid
  id="gridContainer"
  [dataSource]="users"
  [columnAutoWidth]="true"
  [columns]="['id','name', 'username', 'email','address.street','address.city','address.zipcode']"
  [showBorders]="true"
>
</dx-data-grid>
