<p>parent2 works!</p>
<app-child2>
    <h2>Information</h2>
    <p #para>
        paragraph has three major parts- 1. Topic sentence 2. Supporting sentences 3. Concluding sentence 
        1. Topic Sentence A topic sentence is a precise statement that reflects the main idea of the 
        paragraph. It should be carefully written as it will show the reader what you are going to talk about.
        Words chosen for this … See more
    </p>
    <p #para>
        paragraph has three major parts- 1. Topic sentence 2. Supporting sentences 3. Concluding sentence 
        1. Topic Sentence A topic sentence is a precise statement that reflects the main idea of the 
        paragraph. It should be carefully written as it will show the reader what you are going to talk about.
        Words chosen for this … See more
    </p>
    <p #para>
        paragraph has three major parts- 1. Topic sentence 2. Supporting sentences 3. Concluding sentence 
        1. Topic Sentence A topic sentence is a precise statement that reflects the main idea of the 
        paragraph. It should be carefully written as it will show the reader what you are going to talk about.
        Words chosen for this … See more
    </p>
    <p #para>
        paragraph has three major parts- 1. Topic sentence 2. Supporting sentences 3. Concluding sentence 
        1. Topic Sentence A topic sentence is a precise statement that reflects the main idea of the 
        paragraph. It should be carefully written as it will show the reader what you are going to talk about.
        Words chosen for this … See more
    </p>
<app-parent1></app-parent1>
</app-child2>
<button (click)="send()">pSend</button>