<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="a1">
    <nav>
     
        <ul>
            <li id="lii"><a routerLink="home1" class="active">Home</a></li>
            <li id="lii"><a routerLink="about">About</a></li>
            <li id="lii"><a routerLink="contact">Contact</a></li>
            <li id="lii"><a routerLink="PanelTab">PanelTab</a></li>
            <li id="lii"><a routerLink="form">FormTab</a></li>
            <li id="lii"><a routerLink="acc">Accordian</a></li>
            <li id="lii"><a routerLink="grid">DataGrid</a></li>
            <li id="lii"><a routerLink="selectBoxSearch">selectBoxSearch</a></li>
            <li id="lii"><a routerLink="RadioButtonSelectionComponent">RadioButtonSelectionComponent</a></li>
     </ul>
    
    </nav>

    <router-outlet></router-outlet>
</body>
</html>