#main{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 740px; 
    background-color: black;
    color: white;

}
h1{
    text-align: center;
 
}
#sub{
    display: grid;
    grid-template-columns:  3fr 8fr ;
    margin: 30px;
    gap: 10px;
}
form{
    background-color: rgb(17, 185, 17);
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    max-height: 500px;
}
input{
    display: block;
    border-radius: 5px;
    padding: 2px;
}

form .nginvalid{
    background-color: rgb(128, 0, 0);
    padding: 50px;
    border-radius: 20px;
}
#subbb{
    color: red;
}
#button{
   margin-left: 270px;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 10px;
   padding: 3px 20px;
}