<div class="container-fluid">
    <header class="bg-danger text-white text-center mt-2">
        <h1><span class="bi bi-cart2"></span>Flipkart Shopping</h1>
    </header>
    <section>
        <div class="row">
            <div class="row1">
                <ul class="row11">
                    <li><a routerLink="child">Child</a></li>
                    <li><a routerLink="parent">Parent</a></li>
                </ul>
            </div>
            <div class="row2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</div>
