.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-gap: 10px; /* Adjust spacing between rows and columns */
    max-width: 1400px; /* Set a maximum width for the form */
   
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
  }
  
  label {
    flex: 1;
  }
  
  .gridii {
    flex: 2; /* Input fields take twice the space of labels */
    width: 100%;
  }
  
  /* Media query for responsive design */
  @media screen and (max-width: 768px) {
    .form-container {
      grid-template-columns: 1fr; /* Single column layout for smaller screens */
      grid-gap: 5px; /* Reduce spacing */
      max-width: 100%; /* Full width for smaller screens */
      padding: 10px;
    }
  
    .gridii {
      flex: 1; /* Input fields take full width in single-column layout */
    }
  }
/* 
  ::ng-deep .bca .abc .dx-tabpanel>.dx-tabpanel-tabs .dx-tab{
    color: blueviolet;
  }
   */

   /* ::ng-deep .dx-tab .dx-tab-selected {
     color: brown !important;
    background-color: blueviolet !important;
   } */

   ::ng-deep .dx-tab {
  
    background-color: black !important;
   }

   ::ng-deep .dx-tabpanel > .dx-tabpanel-tabs .dx-tab .dx-tab-content{
    color: white !important;
    
   }


